.productWrap {
    // width: calc((100% / 3.1) - (5px / 3));
    // max-width: 100%;
    // width: 100%;
    // display: flex;
    // flex-direction: column;
    justify-content: center;
    // padding: 10px;
    // border: 1px solid black;
    // border-radius: 8px;
    position: relative;
    margin-top: 5px;


}

.productWrap:nth-child(1),
.productWrap:nth-child(2),
.productWrap:nth-child(3) {
    margin-top: 0;
}

.productBtnMinus {
    position: absolute;
    width: calc(50% - 2px);
    z-index: 1;
    left: 0px;
    background-color: #D5584C;
}

.productBtnPlus {
    position: absolute;
    width: 100%;
    z-index: 2;
    right: 0;
    transition: all 0.2s ease;
}

.productBtnWrap {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    // margin-top: 10px;
    display: flex;
    justify-content: center;
}

.productBtnInner {
    position: relative;
    width: 80px;
    height: 30px;
}

.productBtnMinus,
.productBtnPlus {
    display: flex;
    justify-content: center;
    align-items: center;
}

.productBtnMinus:active,
.productBtnPlus:active {
    background-color: var(--main-color);
}

.Checked {
    width: calc(50% - 2px);

}

.productCount {
    position: absolute;
    right: 0;
    top: 0;
    // transform: translate(50%, -50%);
    background-color: var(--main-color);
    min-width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 2;
    font-size: 12px;
    color: #fff;
}

.productImgWrap {
    position: relative;
    width: 100%;
    padding-top: 80%;
}

.productImg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}

.productTitle {
    text-align: center;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    font-weight: normal;
}

.productPriceWrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 700;
}


.productSalePrice {
    text-decoration: line-through;
}