.page {
    margin-top: 10px;
    /* background-color: rgb(87, 87, 203); */
    padding: 0 10px;
}

.categoryList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 20px;
}